/*--------------------
General Style
---------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  max-height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  background: rgba(37,44,65,1);
  background: -moz-linear-gradient(top, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 60%, rgba(221,223,230,1) 60%, rgba(221,223,230,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,44,65,1)), color-stop(60%, rgba(37,44,65,1)), color-stop(60%, rgba(221,223,230,1)), color-stop(100%, rgba(221,223,230,1)));
  background: -webkit-linear-gradient(top, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 60%, rgba(221,223,230,1) 60%, rgba(221,223,230,1) 100%);
  background: -o-linear-gradient(top, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 60%, rgba(221,223,230,1) 60%, rgba(221,223,230,1) 100%);
  background: -ms-linear-gradient(top, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 60%, rgba(221,223,230,1) 60%, rgba(221,223,230,1) 100%);
  background: linear-gradient(to bottom, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 60%, rgba(221,223,230,1) 60%, rgba(221,223,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252c41', endColorstr='#dddfe6', GradientType=0 );
}


/*--------------------
Text
---------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.4;
}

h1 {
  font-size: 42px;
  color: #6d819c;
  text-align: left;
}

h2 {
  font-size: 28px;
  letter-spacing: -2px;
  color: #6d819c;
  text-align: center;
  line-height: 2.8;
}

h2.search-container > input {
  height: auto;
  padding: 10px 10px;
  font-size: large;
  border-radius: 5px;
  border: 1px solid #e9ebf2;
  color: #6d819c;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  color: #dddfe6;
  letter-spacing: 1px;
  text-align: left;
}

h4 {
  font-size: 15px;
  color: #7495aa;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2;
}

h5 {
  font-size: 11px;
  font-weight: 700;
  color: #c9d6de;
  letter-spacing: 1px;
  text-align: left;
}

h5 > span {
  margin-left: 87px;
}

h5.total {
  margin-top: 20px;
}

h6 {
  font-family: 'PT Mono';
  font-size: 18px;
  font-weight: 400;
  color: #f4f5f9;
  letter-spacing: 0px;
  text-align: left;
  line-height: 1.8;
}

h6 > span {
  margin-left: 64px;
}

/*--------------------
Checkout
---------------------*/

.checkout {
  width: 100%;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  background-color: #f4f5f9;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

  -webkit-box-shadow: 0 30px 48px rgba(37,44,65,0.32);
  -moz-box-shadow: 0 30px 48px rgba(37,44,65,0.32);
  box-shadow: 0 30px 48px rgba(37,44,65,0.32);
}

.order {
  width: 100%;
  height: 555px;
  background-color: #f4f5f9;
  z-index: 1;
  -webkit-box-shadow: 0 15px 24px rgba(37,44,65,0.16);
  -moz-box-shadow: 0 15px 24px rgba(37,44,65,0.16);
  box-shadow: 0 15px 24px rgba(37,44,65,0.16);
}

ul.order-list {
  width: 100%;
  height: 100%;
  list-style: none;
  overflow-y: scroll;
  padding-right: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

ul.order-list li {
  display: grid;
  grid-template-columns: 50px 4fr 1fr;
  grid-template-rows: 40px 30px;
  height: 100%;
  width: 100%;
  max-height: 100px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e9ebf2;
  justify-content: center;
  align-items: flex-start;
}


ul.order-list li > h4 {
  margin-top: 8px;
  line-height: 1;
  letter-spacing: 1px;
  margin-left: 10px;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

ul.order-list li:hover > h4 {
  margin-top: 8px;
}

ul.order-list li > h5 {
  display: flex;
  justify-content: flex-start;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 3px;
  margin-left: 10px;
  height: 100%;
  padding-left: 5px;
  font-weight: bold;
  font-size: 14px;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


ul.order-list li > img {
  display: flex;
  grid-row: 1/-1;
  grid-column: 1/2;
  margin-top: 10%;
  width: 100%;
  height: 70%;
  border-radius: 50%;
}

ul.order-list li > div {
  display: flex;
  width: 100%;
  height: 100%;
  grid-row: 1/-1;
  grid-column: 3/-1;
  justify-content: center;
  align-items: center;
}

ul.order-list li > div > input {
  width: 70px;
  height: 30px;
  border: 1px solid #e9ebf2;
  padding-left: 8px;
  border-radius: 3px;
  color: #6d819c;
  font-weight: bold;
  margin-right: 10px;
}

/*--------------------
Payment
---------------------*/







::-webkit-input-placeholder { color: #dddfe6; }
:-moz-placeholder { color: #dddfe6; }
::-moz-placeholder {  color: #dddfe6; }
:-ms-input-placeholder {  color: #dddfe6; }


.space {
  margin-right: 10px;
}

button:focus { outline:0; }

.button-cta {
  width: 100%;
  height: 65px;
  position: absolute;
  float: right;
  right: 0px;
  bottom: -68px;
  padding: 10px 20px;
  background-color: #f1404b;
  border: 1px solid #f1404b;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #f4f5f9;
  z-index: -1;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button-cta:hover {
  background: rgba(193,14,26,1);
  border: 1px solid rgba(193,14,26,1);
}

.button-cta span {
  display: inline-block;
  position: relative;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button-cta span:after {
  content: '→';
  color: #f4f5f9;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
}

.button-cta:hover span {
  padding-right: 45px;
}

.button-cta:hover span:after {
  opacity: 1;
  right: 0;
}

